@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

body{
    background-color: bisque;
    font-family: 'Fredoka', sans-serif;
}
.titulo{
    font-size: 75px;
    color:white;
}

label{
    background-color: tomato;
    width: 310 px;
    height: 50 px;
}

input{
    background-color: aqua;
    width: 310 px;
    height: 50 px;
}

button{
    width: 310 px;
    height: 50 px;
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjetas  , .tarjetas-ataques{
    display: flex ;
    gap: 10px;
}

.tarjeta-de-mokepon{
    font-size: 18px;
    width: 180px;
    height: 100px;
    background-color:burlywood;
    padding:10px ;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
}
/* 
.tarjeta-de-mokepon:focus {
    border: 2px solid #030b0e; Seleccionar color de borde deseado
  }
   */

.tarjeta-de-mokepon img{
    width: 80px;
}

#boton-mascota{
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background:transparent;
    border: 2px solid black;
    color: black;
    margin: 20px;
}
 
input{
    display: none;
}


input:checked + label {

    background-color: rgb(245, 197, 107);
}

#seleccionar-ataque{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.boton-de-ataque{
    background-color: burlywood;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    background: transparent;
    width: 80px;
    color: black;

    
    
}

#mensajes{
    width: 280px;
    background: pink;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#boton-reiniciar{
    border: transparent;
    color: black;
}

.ataques{
    display: grid;
    grid-template-columns: 100px 100px;
    text-align: center;
}

#ver-mapa{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mapa{
    border: 2px solid white;
}

@media (max-width: 390px ){

.tarjetas , .tarjetas-ataques{

    flex-direction: column;
}

}